 <!-- Portfolio Modals -->
 {% for project in site.art %}
    <div class="portfolio-modal modal fade" id="{{ project.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ project.title }}</h2>
                            <hr class="star-primary">
                            {% if project.video %}
                            <br>
                            <video class="img-responsive img-centered" width="650" height="329" controls="controls" poster="/media/{{ project.img }}">
                                <source src="/media/{{ project.video }}" type="video/mp4">
                            </video>
                            <br>
                            {% else %}
                            <img src="img/portfolio/{{ project.img }}" class="img-responsive img-centered" alt="{{ project.alt }}">
                            {% endif %}
                            <p class="post-description"><em>{{ project.description }}</em></p>
                            <hr class="star-primary">
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a title="{{ project.title }}" href="{{ project.client_url }}">{{ project.client }}</a>
                                    </strong>
                                </li>
                                <li>Data de Publicação:
                                    <strong>{{ project.project-date }}</strong>
                                </li>
                            </ul>
                            <hr class="star-primary">
                            <ul class="list-inline item-details text-left">    
                                <li><strong>Serviços Prestados:</strong></li>
                                {% for category in project.categories %}
                                    <li><i class="fa fa-tag tag-orange" ></i>
                                        {{ category[] | capitalize }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if project.details %}
                            <ul class="list-inline item-details text-left">
                                <li><strong>Detalhes do Projeto:</strong>
                                    {{ project.details }}
                                </li>
                            </ul>
                            {% endif %}
                            {% if project.resources %}
                            <ul class="list-inline item-details text-left">
                                <li><strong>Recursos Técnicos:</strong>
                                    {{ project.resources }}
                                </li>
                            </ul>
                              {% endif %}
                            <hr class="star-primary">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
