  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" rel="nofollow"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://virtuacreative.github.io/blog/">Blog</a>
                        </li>
                        <li><a href="{{ site.baseurl }}/curriculum/">Curriculum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>