<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Redação & Tradução</h2>
                    <h3 class="section-subheading text-muted">Comunicação pela escrita</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    {% for project in site.written %}
                    <li role="presentation" {% if project.active %}class="active btn-blue"{% else %}class="btn-blue"{% endif %}><a href="#{{ project.id }}" class="btn-blue" id="{{ project.id }}-tab" role="tab" data-toggle="tab" aria-controls="{{ project.id }}" {% if project.active %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %}>{{ project.title }}</a></li>
                    {% endfor %}
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    {% for project in site.written %}
                    <div role="tabpanel" {% if project.active %}class="tab-pane fade active in"{% else %}class="tab-pane fade"{% endif %} id="{{ project.id }}" aria-labelledby="{{ project.id }}-tab">
                      {{ project.content }}
                    </div>
                    {% endfor %}
                  </div>
                </div> <!-- col-md-12 -->      
            </div><!-- row -->
        </div>
    </section>