<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">O que posso fazer por você?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Websites</h4>
                    <p class="text-muted">Desenvolvimento e design de websites personalizados com criatividade e integrados às Redes Sociais e serviços do Google.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary orange"></i>
                        <i class="fa fa-image fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Artes Gráficas</h4>
                    <p class="text-muted">Fotografia e tratamento de imagem. Criação de logomarcas, cartões de visita, banners, folders e ilustrações.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary gray"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Redação & Tradução</h4>
                    <p class="text-muted">Redação, revisão e tradução de artigos, textos acadêmicos e comerciais, e redação exclusiva para blogs e websites.</p>
                </div>
            </div>
        </div>
    </section>