<!-- About Section -->
    <section id="activities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Linha do Tempo</h2>
                    <h3 class="section-subheading text-muted">Entenda os grandes passos da minha vida profissional.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000-2009</h4>
                                    <h4 class="subheading">Graduação e Pós-Gradução</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted justify">Período dedicado às Ciências Exatas, envolvendo o estudo da Química e trabalhos relacionados. Experiência adquirida em pesquisa, consultoria técnica e representação comercial. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2013</h4>
                                    <h4 class="subheading">Administração e Gestão de Projetos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted justify">Serviços administrativos, pesquisas de Mercado e Economia, gestão de projetos, treinamentos e palestras, projetos interinstitucionais. Coordenação da Divisão de Microcrédito e Empreendedorismo do Estado do Paraná. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Vivência Internacional</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted justify">Intercâmbio em Dublin (Irlanda), com visto de estudos e trabalho. Conclusão de estudos avançados na Língua Inglesa, obtendo os certificados CEF (C2) e IELTS (7). Agente Internacional de Vendas para uma empresa de eventos esportivos, negociando em Inglês, Espanhol e Português com pessoas de diversas nacionalidades. Viagem a diversos países da Europa.</p> 
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - Atual</h4>
                                    <h4 class="subheading">Virtua Creative Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted justify">Desenvolvimento de empreendimento próprio. <strong>Virtua Creative</strong>presta serviços a terceiros desde de Setembro de 2014 nas áreas de Tecnologia da Informação, Artes Gráficas e Redação.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="{{ site.baseurl }}/curriculum/" title="Ver Curriculum Vitae"><div class="timeline-image">
                                <h4><br>Curriculum</h4>
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>