<!-- Education Section -->
    <section id="education" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Formação Acadêmica</h2>
                    <h3 class="section-subheading text-muted">Educação Formal & Complementar</h3>
                    <p>&nbsp;</p >
                </div>
            </div> <!-- row -->
            <div id="small-screen" class="row text-center">               
                <div class="col-md-3">
                    <a role="button" data-toggle="collapse" href="#english" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">General English</h4>
                    </a>
                    <div class="collapse" id="english">
                      <div class="well text-muted">
                        Hello
                      </div>
                    </div>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div> <!-- col-md-3 -->
                <div class="col-md-3">
                    <a role="button" data-toggle="collapse" href="#postgrad" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary red"></i>
                            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Pós-Graduação</h4>
                    </a>
                    <div class="collapse" id="postgrad">
                      <div class="well text-muted">
                        Hello
                      </div>
                    </div>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div> <!-- col-md-3 -->
                <div class="col-md-3">
                    <a role="button" data-toggle="collapse" href="#grad" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary gray"></i>
                            <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Graduação</h4>
                    </a>
                    <div class="collapse" id="grad">
                      <div class="well text-muted">
                        Hello
                      </div>
                    </div>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div> <!-- col-md-3 -->
                <div class="col-md-3">
                    <a role="button" data-toggle="collapse" href="#other" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary green"></i>
                            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Outros Cursos</h4>
                    </a>
                    <div class="collapse" id="other">
                      <div class="well text-muted">
                        Hello
                      </div>
                    </div>
                    <h3 class="section-subheading text-muted"> </h3>
                </div> <!-- col-md-3 -->
            </div> <!-- small -->
            <!-- BIG-SCREEN -->
            <div id="big-screen" class="row text-center">         
                    <div class="col-md-3">
                        <a role="button" data-toggle="collapse" href="#english-big" aria-expanded="false" aria-controls="collapseExample">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">General English</h4>
                        </a>
                    </div><!-- col-md-3 -->
                <div class="col-md-3">
                    <a role="button" data-toggle="collapse" href="#postgrad-big" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary red"></i>
                            <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Pós-Graduação</h4>
                    </a>
                </div> <!-- col-md-3 -->
                <div class="col-md-3">
                    <a role="button" data-toggle="collapse" href="#grad-big" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary gray"></i>
                            <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Graduação</h4>
                    </a>
                </div> <!-- col-md-3 -->
                <div class="col-md-3">
                    <a role="button" data-toggle="collapse" href="#other-big" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary green"></i>
                            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Outros Cursos</h4>
                    </a>        
                </div> <!-- col-md-3 -->
                <!-- COLLAPSE SECTION -->
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>&nbsp;</p> 
                    <div class="collapse" id="english-big">
                        <div class="well text-muted">
                            <h4 class="service-heading justify blue-all left">
                                <i class="fa fa-plane"></i>&nbsp;&nbsp;General English</h4>
                            <h4 class="service-heading justify blue-all right">Dublin, IE</h4>
                            <p class="clear"></p>
                            <p class="justify left"><strong>National College of Business Administration - NCBA</strong></p>
                            <p class="justify right">04/2013 - 11/2013</p>
                            <p class="justify clear"><strong>Curso:</strong> General English - Advanced</p>
                        </div>
                    </div>
                    <div class="collapse" id="postgrad-big">
                        <div class="well text-muted">
                            <h4 class="service-heading justify red-all left">
                                <i class="fa fa-star"></i>&nbsp;&nbsp;Pós-Graduação</h4>
                            <h4 class="service-heading justify red-all right">Curitiba, PR</h4>
                            <p class="clear"></p>
                            <p class="justify left"><strong>Universidade Federal do Paraná - UFPR</strong></p>
                            <p class="justify right">03/2007 - 07/2009</p>
                            <p class="justify clear"><strong>Curso:</strong> Pós-Graduação em Química BioInorgânica</p>
                        </div>
                    </div>
                    <div class="collapse" id="grad-big">
                        <div class="well text-muted">
                            <h4 class="service-heading justify gray-all left">
                                <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;Graduação</h4>
                            <h4 class="service-heading justify gray-all right">Florianópolis, SC</h4>
                            <p class="clear"></p>
                            <p class="justify left"><strong>Universidade Federal de Santa Catarina - UFSC</strong></p>
                            <p class="justify right">03/2000 - 12/2006</p>
                            <p class="justify clear"><strong>Curso:</strong> Bacharelado em Química</p>
                        </div>
                    </div>
                    <div class="collapse" id="other-big">
                        <div class="well text-muted">
                            <h4 class="service-heading justify green-all left">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;Outros Cursos</h4>
                            <p class="clear"></p>
                            <p class="justify left"><strong>National College of Business Administration - NCBA</strong></p>
                            <p class="justify right">04/2013 - 11/2013</p>
                            <p class="justify clear"><strong>Curso:</strong> General English - Advanced</p>
                        </div>
                    </div>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div> <!-- col-lg-8 col-lg-offset-2 -->
            </div> <!-- big-screen -->
        </div> <!-- container -->
    </section>