<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle btn-small btn-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-bars white-all"></i></button>
                <a class="navbar-brand page-scroll" href="../" title="Home Page">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a class="page-scroll" href="../"></a>
                    </li>
                    <li class="hidden">
                        <a class="page-scroll" href="#page-link"></a>
                    </li>
                    <li>
                        <a class="page-scroll" data-toggle="tooltip" data-placement="bottom" title="Formação Acadêmica" href="#education">Educação</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tongs">Idiomas</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-toggle="tooltip" data-placement="bottom" title="Áreas de Atuação" href="#areas">Atuação</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-toggle="tooltip" data-placement="bottom" title="Atividades Profissionais" href="#activities">Atividades</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#knowledge">Conhecimento Técnico</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Curriculum Vitae</div>
                <div class="intro-heading">marcia dias ramos</div>
                <!-- <a href="#services" class="page-scroll btn btn-xl">Saber Mais</a> -->
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row"  style="padding-top: 20px;">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><a href="../">Home</a></li>
                  <li><a class="page-scroll" href="../#about">Linha do Tempo</a></li>
                  <li class="active">Curriculum</li>
                </ol>
            </div>
        </div>
    </div>
